.App {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    font-family: Lato, sans-serif;
    background-image: url(https://i.imgur.com/BbQxeIX.png);
    min-height: 98.5vh;
    min-width: 100vh;
}

.main-container {
    width: 400px;
    height: 600px;
    padding: 14px;
    background-color: #ff82a9;
    border-radius: 20px;
    border: 5px solid white;
}

.row {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #DE6C83;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}